@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 5rem 10%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
}

.btn:hover {
  background: #0eb582;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
  font-family: poppins, sans-serif;
}

.logo img {
  width: 130px;
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}

.header .navbar #close-navbar:hover {
  transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  font-family: poppins, sans-serif;
}

.header .navbar a:hover {
  color: #0eb582;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 3rem;
  color: purple;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

#great {
  color: #0eb582;
}

.main-home {
  background-image: url(../imgs/Logo_with_Virat.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 635px;
}

/*------------------ about Us start---------------------- */
.deal {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.deal .image {
  flex: 1 2 60rem;
}

.deal .image img {
  width: 58rem;
}

.content {
  flex: 1 1 42rem;
}

.content h3 {
  color: #333;
  font-size: 4rem;
  padding: 1rem 0;
  max-width: 500px;
  font-family: poppins, sans-serif;
}

.content p {
  font-family: poppins, sans-serif;
  font-size: 1.8rem;
  color: #6666;
}

/* --------------footer-start------ */

footer {
  background-color: #1b1d1f;
  padding: 50px 20px;
  border-top: 4px solid #0eb582;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo a {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: poppins, sans-serif;
}

.footer-logo a span {
  color: #0eb582;
}

.footer-social {
  display: flex;
  margin-top: 10px;
}

.footer-social a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #ffffff15;
  font-size: 1.5rem;
  margin: 0px 5px;
  transition: all ease 0.3s;
}

.footer-social a:hover {
  background-color: #4eb060;
  transition: all ease 0.3s;
}

.footer-links strong {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: poppins, sans-serif;
}

.footer-links ul {
  margin-top: 10px;
}

.footer-links ul li {
  list-style: none;
  margin-top: 5px;
}

.footer-links ul li a {
  color: #ffffff;
  opacity: 0.7;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'poppins' sans-serif;
}

.footer-links ul li a:hover {
  color: #2fffc1;
  margin-left: 8px;
}











@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .main-home {
    height: 500px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-links {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .header label {
    opacity: 1;
    visibility: visible;
    margin-right: 10px;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffff;
    border-top: .5rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0.2rem 1rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 1rem 2rem;
    width: 100%;
  }

  .header .navbar a {
    width: 100%;
    background-color: #fff;
    display: block;
    margin-top: 10px;
  }

  #menu-bar:checked~.navbar {
    opacity: 1;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .main-home {
    height: 300px;
  }

  .deal .image img {
    width: 100%;
  }

}


@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .main-home {
    height: 300px;
  }

  .main-home h1 {
    padding: 120px 0px 0px 20px;
  }

  .content h3 {
    font-size: 3rem;
  }

  .main-home {
    height: 200px;
  }

  .content p {
    margin-bottom: 50px;
  }
}