@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0px;
}
.navbar-logo{
    width: 200px;
    font-size: 2rem;
    color: #3a3d3aaa;
    cursor: pointer;
}
.navbar-logo img{
    width: 130px;
}


header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #212529;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
}
header .navbar ul li a img{
    width: 40px;
    height: 40px;
}
#profile{
    /* color: #05ae0e; */
    margin-top: 13px;
}
header .navbar ul li a:hover{
    color:#05ae0e;
}


#menu-bar{
    display: none;
}
header label {
    font-size: 3rem;
    color: purple;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
/*------------ navbar-end-------- */
section{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.dashboard{
    width: 90%;
    border-radius: 5px;
    height: 500px;
    border: 1px solid #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dashboard h1{
    width: 100%;
    height: 100px;
    background-color: rgba(200, 198, 198, 0.666);
    border-radius: 5px 5px 0px 0px;
    padding: 35px 20px;
    font-family: poppins,sans-serif;
    color: rgb(66, 66, 171);
  
}
.student-data{
    background-color: #eee;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    border: 1px solid rgb(182, 177, 177);
    border-bottom: none;
}
.student-data p{
    text-transform: uppercase;
    font-family: poppins, sans-serif;
    font-weight: bold;
}
.student-details{
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    border: 1px solid rgb(182, 177, 177);

}
.student-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
#para{
    font-family: poppins, sans-serif;
    padding-top: 30px;
}
.ubl{
    margin-top: 20px;
    font-family: sans-serif;
    color: rgba(186, 35, 164, 0.712);
}
#ubl{
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
input{
    width: 50%;
    height: 100px;
    text-align: center;
    border:  1px dotted #333;
    margin: 20px 0px;
    outline: none;
    cursor: pointer;
}
input::placeholder{
    font-size: 1rem;
    font-weight: bold;
}
#heading-challan{
    margin-top: 20px;
    text-align: center;
    font-family: poppins, sans-serif;
    color: rgb(178, 14, 151);
    font-size: 18px;
    text-transform: capitalize;
}
.upload-challan{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #e1e3e7;
    border: 2px dotted rgb(36, 18, 54);
    padding: 30px 0px;
    text-align: center;
    margin-top: 20px;
    text-align: center;
}
input[type="file" i] {
    width: 100%;
    height: 100%;
    display: none;
}
button{
    border: none;
    background-color: #e1e3e7;
    color: #639;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 2px -3px grey;
    padding: 10px 13px;
    outline: none!important;
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight: 600;
}










/* Media-query */

@media(max-width:1230px){
    header{
        padding: 20px;
    }
    header label{
        opacity: 1;
        visibility: visible;
        margin-right: 10px;
    }
    .navbar-logo{
        margin-left: 10px;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        border-top: 1rem solid rgba(0,0,0,0.1);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
        opacity: 0;
        padding: 1rem 2rem;
        width: 100%;
    }
    header .navbar ul li{
        width: 100%;
    }
    #menu-bar:checked ~ .navbar{
        opacity: 1;
    }
}
@media(max-width: 800px){
    .dashboard h1{
        font-size: 1rem;
      
    }
    .student-main-div{
        flex-direction: row;
    }
    .student-data{
        flex-direction: column;
        margin-top: 20px;
        border-radius: 5px 0px 0px 5px;
        padding: 20px;
        border: 1px solid rgb(182, 177, 177);
        /* border-bottom: none; */
        border-right: none;
    }
    .student-data p{
        padding: 10px;
    }
    .student-details{
        flex-direction: column;
        border-radius: 0px 5px 5px 0px;
        padding: 20px;
        border: 1px solid rgb(182, 177, 177);
        margin-top: 20px;
        border-left: none;
    }
    .student-details p{
        padding: 10px;
        font-family: poppins, sans-serif;
    }      
    .upload-challan{
        width: 55%;
    }
    header label {
        font-size: 2.5rem;
    }
}
@media(max-width: 500px){
    .student-data p{
        font-size: .7rem;
    }
    .student-details p{
        font-size: .7rem;
    }  
    .upload-challan{
        width: 62%;
    }
}
@media(max-width: 404px){
    .student-data p{
        font-size: .5rem;
    }
    .student-details p{
        font-size: .5rem;
    }
    .upload-challan{
        width: 90%;
    }
    header label {
        font-size: 2rem;
    }
}