@font-face {
    font-family: poppins;
    src: url(PoppinsRegular-B2Bw.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0px;
}
.navbar-logo{
    width: 200px;
    font-size: 2rem;
    color: #3a3d3aaa;
    cursor: pointer;
}
.navbar-logo img{
    width: 130px;
}


header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #212529;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
}
header .navbar ul li a:hover{
    color:#05ae0e;
}

#menu-bar{
    display: none;
}
header label {
    font-size: 2rem;
    color: purple;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
#loaderdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;
}
#li{
    background-color: #05aea0aa;
    width: 90%;
    /* margin: 10px; */
    padding: 10px;
    color: rgb(6, 51, 92);
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 4px 4px 0px 0px;
}

#button{
    padding: 10px;
    background-color: crimson;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
#list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}






/* Media-query */

@media(max-width:1230px){
    header{
        padding: 20px;
    }
    header label{
        opacity: 1;
        visibility: visible;
        margin-right: 10px;
    }
    .navbar-logo{
        margin-left: 10px;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        border-top: 1rem solid rgba(0,0,0,0.1);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
        opacity: 0;
        padding: 1rem 2rem;
        width: 100%;
    }
    header .navbar ul li{
        width: 100%;
    }
    #menu-bar:checked ~ .navbar{
        opacity: 1;
    }
}

@media (max-width: 560px){
    #li{
        width: 98%;
        font-size: 15px;
    }
}